* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(assets/GreenBank\ Landing\ Page.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}

:root {
    --primary-font-family: "M PLUS 1", sans-serif;
    --secondary-font-family: "Poppins", sans-serif;
    --primary-color: #FFFFFF;
    --secondary-color: #2BB32A;
}

/* Nav Bar Starts  */

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    font-family: var(--primary-font-family);
    /* background-color: rgb(65, 80, 80); */
}

nav ul {
    display: flex;
    gap: 4vw;
    font-size: 1.4vw;

}

nav a {
    color: var(--primary-color);
}

nav button {
    color: var(--secondary-color);
    background-color: transparent;
    border-color: var(--secondary-color);
    border-radius: 50px;
    padding: 1.5vh 2vw;
    cursor: pointer;
}

.nav-btn img {
    height: 40px;
    display: none;
}

.nav-btn {
    display: flex;
    align-items: center;
}


@media (max-width:700px) {

    nav {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        height: 90px;
    }

    nav ul {
        display: none;
    }

    .logo {
        margin: 0px;
    }

    .nav-btn img {
        display: block;
        height: 30px;
    }

    .nav-btn {
        gap: 4vw;
    }

    .nav-btn button {
        padding: 8px 18px;
    }


}

/* Hero Section Starts  */

.hero {
    /* background-color: aqua; */
    height: 70vh;
    width: 100%;
    display: flex;
}

.hero-left {
    width: 50%;
    /* background-color: blue; */
    color: white;
    font-family: var(--primary-font-family);
    height: 100%;
    padding: 0px 80px;
    padding-top: 60px;
}

.hero-left h1 {
    font-size: 55px;
}

.hero-left p {
    width: 75%;
    font-family: var(--primary-font-family);
    margin-top: 20px;

}

.btn {
    display: flex;
    align-items: center;
    padding: 0px 18px;
    border-radius: 64px;
    background-color: #2BB32A;
    color: white;
    font-family: var(--primary-font-family);
    border: none;
    font-size: 18px;
    justify-content: space-evenly;
    width: 210px;
    height: 53px;
    margin-top: 30px;
}

.btn img {
    width: 10%;
}

.hero-right {
    width: 50%;
    height: 100%;
    /* background-color: violet; */
}

.hero-right img {
    width: 45vw;
}

.hero-rev {
    align-items: center;
    /* background-color: red; */
    display: flex;
    height: 10vh;
    width: 20vw;
}

.hero-rev-content {
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    height: 5vh;
    justify-content: center;
}

.hero-rev img {
    height: 40px;
}

@media (max-width:700px) {

    .hero {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .hero-left {
        width: 100%;
        padding: 0px;
        padding-left: 20px;
        padding-top: 40px;
        height: 60%;
    }

    .hero-left h1 {
        font-size: 40px;
    }

    .hero-left p {
        width: 95%;
    }

    .hero-right {
        width: 100%;
        height: 30%;
    }

    .hero-right img {
        width: 90vw;
    }

}

/* Info Section Starts  */

.info {
    width: 100vw;
    height: 50vh;
    /* background-color: gray; */
    display: flex;
    align-items: center;
}

.info-container {
    background-color: rgba(61, 84, 77, 24%);
    width: 90%;
    height: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 32px;
}

.info-box h2 {
    color: white;
    font-size: 50px;
    font-family: var(--primary-font-family);
}

.info-box p {
    color: #2BB32A;
    font-family: var(--primary-font-family);
}

@media (max-width:700px) {
    .info {
        width: 100vw;
        height: 120vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .info-container {
        background-color: rgba(61, 84, 77, 24%);
        width: 85%;
        height: 97%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 32px;
    }

    .info-box h2 {
        color: white;
        font-size: 45px;
        font-family: var(--primary-font-family);
    }

    .info-box p {
        color: #2BB32A;
        font-family: var(--primary-font-family);
    }

}

/* Partners Section Start */

.partners {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width:700px) {
    .partners {
        display: none;
    }
}

/* Offer Section Start */

.offer {
    height: 60vh;
    width: 100%;
    margin-top: 100px;
    /* background-color: aqua; */
}

.offer-content {
    width: 90%;
    /* background-color: gray; */
    height: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer h2 {
    width: 100vw;
    text-align: center;
    color: white;
    font-family: var(--primary-font-family);
    font-size: 55px;
}

.offer-box {
    height: 80%;
    /* background-color: red; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: var(--primary-font-family);
    justify-content: center;
    color: white;
}

.offer-box img {
    width: 70px;
}

.offer-box p {
    color: #ADB2B1;
    text-align: center;
}

.offer h1 {
    font-size: 25px;
}

@media (max-width:700px) {

    .offer {
        height: 110vh;
        margin-top: 30px;
    }

    .offer h2 {
        font-size: 33px;
    }

    .offer-content {
        display: flex;
        flex-direction: column;
        height: 89%;
        width: 95%;
        align-items: center;
    }

    .offer-box {
        width: 90%;
        height: 30%;
    }
}

/* Design Section Starts */

.design {
    width: 90%;
    background-color: red;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 75vh;
    justify-content: center;
}

.design-left {
    background-color: #ADB2B1;
    width: 50%;
    font-family: var(--secondary-font-family);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

.design-left h2 {
    font-size: 45px;
    width: 100%;
}

.design-left p {
    width: 60%;
    margin-top: 15px;

}

.design-right {
    height: 83%;
    background-color: #238a75;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-right img {
    width: 35vw;
}

@media (max-width:700px) {

    .design {
        width: 100%;
        background-color: red;
        display: flex;
        height: 95vh;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .design-left{
        width: 95%;
    }

    .design-left h2{
        font-size: 39px;
    }

    .design-left p{
        width: 96%;
    }

    .btn {
        font-size: 15px;
        width: 180px;
    }

    .design-right img {
        width: 90vw;
    }

   
.design-right {
    height: 83%;
    background-color: #238a75;
    width: 95%;

}
}